.field-container{
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.backdrop{
    width: 100vw;
    height: 150vh;
    position: fixed;
    background-color: black;
    opacity: 40%;
    z-index: 9;
}

.players-compatibility-button{
    border: none;
    background-color: #008000;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 6px;
    transition: ease-in-out .3s;
    margin-bottom: 24px;
    padding: 1rem;
}

.players-compatibility-button:hover{
    background-color: #008000d6;
}

.disabled{
    background-color: gray;
}

.players-compatibility-button:hover.disabled{
    background-color: gray;
}