.player-picker-container{
    width: 1000px;
    height: 700px;
    background-color: black;
    position: absolute;
    z-index: 10;
    border-radius: 16px;
    backdrop-filter: opacity(20%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player-picker-container h1{
    margin: 0;
    padding-bottom: 24px;
}

.close-btn{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    align-self: flex-end;
}

button span{
    margin: 10px;
    color: white;
    cursor: pointer;
}

button span:hover{
    opacity: 90%;
}

.players-wrapper{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}