.player-container{
    width: 250px;
    height: 150px;
    background-color: #141414;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border: none;
    color: white;
    margin: 24px;
}

.player-name{
    font-size: 16px;
    font-weight: 600;
}

.player-nationatily{
    font-size: 16px;
    font-weight: 600;
}

.player-picture{
    width: 100%;
    max-width: 100px;
    border-radius: 8px;
}

.team-logo{
    width: 100%;
    max-width: 50px;
}